@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --myfont:"Cedarville Cursive", cursive;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  width: 100vw;
  height: 100svh;
  overflow-x: auto;
  overflow-y: hidden;
}




@keyframes rota {
  0%{
      rotate: 5deg;
  }
  100%{
      rotate: -5deg;
  }
  
}
